.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('../../../assets/login.png') no-repeat center center; /* Set your background image here */
    background-size: cover; /* Cover the entire container */
    color: #5a2d0c;
    padding: 20px;
    border-radius: 15px;
  }
  
  h2 {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 80px; /* Increased font size */
    font-weight: bold;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px; /* Increased max width */
    background-color: rgba(255, 255, 255, 0.8); /* Slight white background for the form */
    padding: 30px; /* Increased padding */
    border-radius: 10px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px; /* Increased font size */
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  input[type="file"],
  input[type="password"] {
    width: 100%;
    padding: 12px; /* Increased padding */
    border: 1px solid #d1a791;
    border-radius: 5px;
    font-size: 18px; /* Increased font size */
  }
  
  button {
    background-color: #5a2d0c;
    color: #fff;
    padding: 12px 20px; /* Increased padding */
    border: none;
    border-radius: 5px;
    font-size: 18px; /* Increased font size */
    cursor: pointer;
    margin-bottom: 20px; /* Add margin to separate from the login link */
  }
  
  button:hover {
    background-color: #7c3e13;
  }
  
  .login-link {
    text-align: center;
  }
  
  .login-link a {
    color: #5a2d0c;
    text-decoration: none;
    font-size: 16px; /* Font size for the Log In link */
  }
  